:root{
   --maincolor:red;
}
 body{
     background-color:cornsilk;
  background-image: url('/resources/p.png');
    font-size: 15px;
    filter: blur(0px);
    cursor: url(img/resources/html.png)text;
 }
  .grey{
    background-color:lightgrey;
  }
   .coupon{
     border:solid;
    color:lightgrey;
   }
   ..coupon{
     border:solid;
   }
      .title{
          border: solid 8px red;
      }
      img{
        width: 300px;
        height: 300px;
        border-style: solid;
        color: black;
       
        filter: grayscale(80%);
        filter: opacity(50%);
        filter: brightnes(10%);
        
        background-color: var (--maincolor);
      }
      .photo{
         border-radius:200px;
        height: 200;
        width: 208;
      }
      li{
         border: so;
      }
      p{
       padding: 20px;
       border: 9px solid black;
       background-color:rgba(,0,0,0,0,5#);
       text-align: center;
       margin-top: 20px;
       margin-right: 10px;
       margin-left: 20px;
       border-align:center;
       transform: rotate(-20deg);
       filter: brightness(100%);
       cursor: ;
      }
      .pectuer{
          height: 100px;
          width : 209px;
     padding-right: 29px ;
      margin: 100;
      padding top: 24px;
      padding-left: 10px;
       transform: rotate(90deg);
      }
      .rotate{
          transform:rotate(20deg);
          filter: blur(1px);
          filter: contrast(10);
      }
      .radio{
          height: 30px;
          width: 30px;
      }
      .image{
          filter: contrast(150%) saturation(400%);
      }
      form {
          margin: 50px;
          border: solid 5px black;
          padding: 10px;
          background-color: lightgrey;
          width: 200px;
          
      }